html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Outfit;
    font-size: 15px;
    overflow: hidden;
    background-color: #7b879d;
    display: grid;
    place-items: center;
}

.container{
    height: 500px;
    width: 335px;
    border-radius: 20px;
    background-color: #EDF2F4;
    display: grid;
    place-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.qrcode {
    height: auto;
    width: 300px;
    border-radius: 20px;
}


h2 {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #2B2D42;
    text-align: center;
}

p {
    font-weight: 400;
    margin: 30px;
    margin-top: 10px;
    color: #8D99AE;
    text-align: center;
}